{% extends "base.html" %}

{% block head_title %}{{artist_profiles.name}} | {%endblock %}

{% block content %}


<div class="container" style="margin-top:70px">
	<div class="row panel body_artist_profile">
		<div class="col-md-4 bg_blur", style="background:url('{{artist_profiles.cover_url|default_if_none:'#'}}')">
    	    <a href="#" class="follow_btn hidden-xs">Follow</a>
		</div>
        <div class="col-md-8  col-xs-12">
           <img src="{{artist_profiles.avatar_url|default_if_none:'#'}}" class="img-thumbnail picture hidden-xs" />
          <!--  <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail visible-xs picture_mob" /> -->
           <div class="header">
                <h1>{{artist_profiles.name}}</h1>
                <h4>{{artist_profiles.artist_type}}</h4>
                <span>{{artist_profiles.about_yourself}}</span>
           </div>
        </div>
    </div>   
    
	<!-- div class="row nav">    
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i> 16</div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-heart-o fa-lg"></i> 14</div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
        </div>
    </div> -->
</div>

{% endblock content %}