
{% extends "base.html" %}

{% block head_title %}Art Shop | {%endblock %}

{% block content %}

<div class="container" style="margin-top:70px">
	<div class="row">
	    <div class="col-md-3">
	        <p class="lead">Filter</p>
	        <div class="list-group">
	            <a href="#" class="list-group-item">Category 1</a>
	            <a href="#" class="list-group-item">Category 2</a>
	            <a href="#" class="list-group-item">Category 3</a>
	        </div>
	    </div>
	    <div class="col-md-9">
	    	<div class="row">
	    	{% for details in all_itemdetails %}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <!-- <li class="card"> -->
                    <div class="card">
                      <img class="card-img-top" src="{{details.item_image_url|default_if_none:'#'}}" alt="{{details.item_name}}" height="180" width="100%">
                      <div class="card-block">
                        <h3 class="card-title" style="font-style:italic">{{details.item_name}}</h3>
                        <p class="card-text">
                        <h5>{{details.is_artist}}<span style="float:right">Rs. {{details.item_price}}</span></h5>
                        </p>
                        <a target="_blank" href="{% url 'item_details' details.id %}" class="btn btn-primary" style="float:right">View Details</a>
                      </div>
                    </div>
                </div>{% endfor %}
			</div>   
	 	</div>
	</div>
</div>                              
{% endblock content %}